@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    height: 100%;
    color: black;
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    line-height: 22px;
    font-size: 16px;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;

}

p {
    margin: 0 auto;
    text-align: left;
    width: 50%;
}

.centered-text {
    text-align: center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

footer {
    position: fixed;
    color: white;
    background-color: #636467;
    width: 100%;
    padding: 8px 10px 8px 10px;
    bottom: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 10px;
}

.logo {
    margin: 2em;
    display: flex;
}